nav {
  background-color: #000000;
  border-bottom: 4px solid #374151;
  font-family: "Poppins", sans-serif;
}

.titulo {
  color: var(--blanco);
}

.titulo h2 {
  margin-bottom: 0;
}

.titulo span {
  color: var(--rosa-principal);
}

.logo {
  width: 60px;
  height: auto;
  margin-right: 10px;
}

.retro-nav,
.nav-link {
  margin-right: 20px;
  color: #ffffff;
  font-weight: 600;
}

.logout-link {
  cursor: pointer;
}



.navbar .nav-link {
  position: relative;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navbar .nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 2px;
  width: 0%;
  height: 2px;
  background-color: var(--rosa-principal);
  transition: width 0.3s ease;
}

.navbar .nav-link:hover::after {
  width: 100%;
}

.navbar .nav-link:hover {
  color: var(--rosa-principal);
}
