nav {
  background: rgba(10, 10, 25, 0.05);
  backdrop-filter: blur(10px);  
  backdrop-filter: blur(14px) saturate(140%);

  border-bottom: 1px solid rgba(255, 255, 255, 0.12);
  font-family: "Poppins", sans-serif;
}

#nav-cont {
  margin: 0;
}

.titulo {
  color: var(--blanco);
}

.titulo h2 {
  margin-bottom: 0;
}

.titulo span {
  color: var(--violeta-principal);
}

.logo {
  width: 60px;
  height: auto;
  margin-right: 10px;
}

.retro-nav,
.nav-link {
  margin-right: 20px;
  color: #ffffff;
  font-weight: 600;
}

.logout-link {
  cursor: pointer;
}



.navbar .nav-link {
  position: relative;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navbar .nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 2px;
  width: 0%;
  height: 2px;
  background-color: var(--violeta-principal);
  box-shadow: 0 0 5px var(--blanco);
  transition: width 0.3s ease;
}

.navbar .nav-link:hover::after {
  width: 100%;
}

.navbar .nav-link:hover {
  color: var(--violeta-principal);
  text-shadow: 0 0 3px var(--blanco);
}