.comentarios-cont{
    background-color: var(--gris-oscuro);
}

.comentario-cont{
    background-color: var(--blanco-opaco);
    border-radius: 20px;
}

.form-control{
    background-color: transparent;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid var(--gris-claro);
    color: white;
    transition: all 0.2s ease-in-out;
}

.form-control::placeholder{
    color: var(--gris-claro);
    transition: all 0.2s ease-in-out;
}

.form-control:focus::placeholder{
    color: var(--violeta-principal);
}
.form-control:focus{
    border-color: var(--violeta-principal);
    box-shadow: none;
}

.btn-enviar{
    background-color: var(--violeta-principal);
    border-color: var(--violeta-principal);
    transition: all 0.2s ease-in-out;
}

.btn-enviar:hover{
    background-color: var(--violeta-hover);
    border-color: var(--violeta-hover);
    color: var(--blanco);
    transform: scale(1.1);
}

#btn-loadMore{
    background-color: var(--violeta-principal);
    border-color: var(--violeta-principal);
    transition: all 0.2s ease-in-out;
}